<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>A game of chess</title>
  <meta name="description" content="A game of chess">
  <meta name="author" content="Christoph Pernul">

<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../static/moves.js"></script>

</head>
<body>
	<div class="pieces-container" id="promotion">
		<div class="boxes" id="N"><img class="center" src="../static/image/Chess_nlt60.png"/></img></div>
		<div class="boxes" id="B"><img class="center" src="../static/image/Chess_blt60.png"/></img></div>
		<div class="boxes" id="R"><img class="center" src="../static/image/Chess_rlt60.png"/></img></div>
		<div class="boxes" id="Q"><img class="center" src="../static/image/Chess_qlt60.png"/></img></div>
	</div>
	<div class="container">
		{% for key, value in field.items() %}
			{% if key[:-1]=="top" %}
					<div class="white-box borderbottom">{{ value[0] }}</div>
			{% endif %}
			{% if key[:-1]=="left" %}
					<div class="white-box borderright">{{ value[0] }}</div>
			{% endif %}
			{% if value[0] is none %}
				<div class="board {{ value[1] }}" id="{{ key }}"></div>
			{% elif value[2] is not none %}
				<div class="board {{ value[1] }}" id="{{ key }}"><img class="center" src="../static/image/{{ value[0] }}"/></img></div>
			{% endif %}
			{% if key[:-1]=="right" %}
				<div class="white-box borderleft">{{ value[0] }}</div>
			{% endif %}
			{% if key[:-1]=="bottom" %}
					<div class="white-box bordertop">{{ value[0] }}</div>
			{% endif %}
		{% endfor %}
	</div>

</body>
</html>
