<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>A game of chess</title>
  <meta name="description" content="A game of chess">
  <meta name="author" content="Christoph Pernul">

<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../static/moves.js"></script>

</head>
<body>
	<div class="container">
	<!-- Top row -->
	   <!--   <div class="white-box borderbottom"></div>
	      <div class="white-box borderbottom">a</div>
	      <div class="white-box borderbottom">b</div>
	      <div class="white-box borderbottom">c</div>
	      <div class="white-box borderbottom">d</div>
	      <div class="white-box borderbottom">e</div>
	      <div class="white-box borderbottom">f</div>
	      <div class="white-box borderbottom">g</div>
	      <div class="white-box borderbottom">h</div>
	      <div class="white-box borderbottom"></div>-->
		{% for key, value in field.items() %}
			{% if key[:-1]=="top" %}
					<div class="white-box borderbottom">{{ value[0] }}</div>
			{% endif %}
			{% if key[:-1]=="left" %}
					<div class="white-box borderright">{{ value[0] }}</div>
			{% endif %}
			{% if value[0] is none %}
				<div class="board {{ value[1] }}" id="{{ key }}"></div>
			{% elif value[2] is not none %}
				<div class="board {{ value[1] }}" id="{{ key }}"><img class="center" src="../static/image/{{ value[0] }}"/></img></div>
			{% endif %}
			{% if key[:-1]=="right" %}
				<div class="white-box borderleft">{{ value[0] }}</div>
			{% endif %}
			{% if key[:-1]=="bottom" %}
					<div class="white-box bordertop">{{ value[0] }}</div>
			{% endif %}
		{% endfor %}


	<!-- Bottom row -->
	<!--      <div class="white-box bordertop"></div>
	      <div class="white-box bordertop">a</div>
	      <div class="white-box bordertop">b</div>
	      <div class="white-box bordertop">c</div>
	      <div class="white-box bordertop">d</div>
	      <div class="white-box bordertop">e</div>
	      <div class="white-box bordertop">f</div>
	      <div class="white-box bordertop">g</div>
	      <div class="white-box bordertop">h</div>
	      <div class="white-box bordertop"></div>-->
	</div>

</body>
</html>
